{% load static %}

<div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-3 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <img src="{% static 'assets/favicon.ico' %}" alt="Logo" width="40" height="40">
    </a>
    <span class="mb-3 mb-md-0 text-body-secondary">© 2024 GPT gifts</span>
  </div>

  <ul class="nav col-md-5 justify-content-end list-unstyled d-flex">
    <li class="nav-item"><a href="/#useCases" class="nav-link px-2 text-body-secondary">Почему выбирают нас?</a></li>
    <li class="nav-item"><a href="/#quickStart" class="nav-link px-2 text-body-secondary">Как сделать опрос?</a></li>
    <li class="nav-item"><a href="/#developers" class="nav-link px-2 text-body-secondary">Разработчики</a></li>
    <li class="nav-item"><a href="https://t.me/simple_voting_red" class="nav-link px-2 text-body-secondary" target="_blank">
        <i style="color: cornflowerblue; font-size: 1.5rem;" class="bi bi-telegram"></i>
    </a></li>
  </ul>
</div>
